.demo-loadmore-list {
  min-height: 350px;
}
.demo-loadmore-list .ant-list-items {
  padding: 0 10px;
}
.demo-loadmore-list .ant-list-items .ant-list-item {
  margin-top: 20px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
.demo-loadmore-list .ant-list-items .ant-list-item .ant-list-item-action {
  width: 200px;
  text-align: center;
}
.demo-loadmore-list .ant-list-items .activity_address {
  flex: 1 0;
}
.demo-loadmore-list .ant-list-items .activity_student {
  width: 200px;
}
